version: '2.2'

services:

  geth:
    image: etclabscore/core-geth:latest
    command: --mordor --rpc --rpcport 8545 --rpcaddr=0.0.0.0 --rpcvhosts=* --metrics --metrics.expensive --pprof --pprofaddr=0.0.0.0
    ports:
      - "6060:6060"
      - "8545:8545"

  gethexporter:
    image: devfdn/gethexporter:latest
    ports:
      - "6061:6061"
    environment:
      - GETH=http://geth:8545
      - METRICSADDR=0.0.0.0:6061
    depends_on:
      geth:
        condition: service_started

  prometheus:
    image: prom/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - "9090:9090"
    depends_on:
      geth:
        condition: service_started
      gethexporter:
        condition: service_started
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    depends_on:
      prometheus:
        condition: service_started
    volumes:
      - ./grafana.db:/var/lib/grafana/grafana.db
